/**
 * DEWP Progress Component
 */
@use "../basic/index" as *;

.dewp-progress {
    width: 100%;
    background: $bg-secondary;
    border: 1px solid $border-01;
    border-radius: $radius-l;
    height: 10px;
    overflow: hidden;

    &-bar {
        height: 100%;
        width: 0%;
        background: $primary;
        transition: width $transition-base;
    }

    &-label {
        margin-top: $spacing-1;
        font-size: $font-size-xs;
        color: $text-secondary;
    }

    &-success .dewp-progress-bar {
        background: $success;
    }

    &-warning .dewp-progress-bar {
        background: $warning;
    }

    &-danger .dewp-progress-bar {
        background: $danger;
    }

    &-sm {
        height: 6px;
        border-radius: $radius-m;
    }

    &-lg {
        height: 14px;
        border-radius: $radius-xl;
    }
}